name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - "3.4.2"

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby & Rust
        uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true
          rubygems: "3.6.7"
      - name: Run the default task
        run: bundle exec rake
      - name: Run cargo test
        run: cargo test

  docs:
    runs-on: ubuntu-latest
    name: Docs
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.2"
          bundler-cache: true
      - name: Run YARD
        run: bundle exec yard
      - name: Upload docs
        uses: actions/upload-pages-artifact@v3
        with:
          path: doc/
      - name: Deploy docs
        uses: actions/deploy-pages@v4
